.places-card {
  display: block;
}

@media screen and (min-width: 768px) {
  .places-card {
    padding: 0 24px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 48px;
    row-gap: 28px;
  }
}
