.cover__link {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 200px;
  background-image: url('../../../images/cover__background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  transition: 0.2s;
  z-index: 2;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}
