.root__container {
  padding: 0 16px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .root__container {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .root__container {
    padding: 0 48px;
  }
}
