.main__places {
  margin-bottom: 66px;
}

@media screen and (min-width: 768px) {
  .main__places {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .main__places {
    margin-bottom: 92px;
  }
}
