.lead__title {
  display: block;
  max-width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  /* or 110% */
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .lead__title {
    display: block;
    max-width: 720px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 110% */
  }

}
