.places__card {
  margin-bottom: 49px;
}

@media screen and (min-width: 768px) {
  .places__card {
    padding: 0 48px;
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .places__card {
    margin-bottom: 80px;
  }
}
