.place-card__title {
  display: block;
  max-width: 288px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  /* identical to box height, or 109% */
  color: #FFFFFF;
  margin: 0 0 32px 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  .place-card__title {
    font-size: 42px;
    line-height: 46px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place-card__title {
    font-size: 72px;
    line-height: 76px;
  }
}
