.lead__subtitle {
  display: block;
  max-width: 288px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    margin-top: 32px;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}
