.cover__title {
  display: block;
  max-width: 288px;
  text-align: center;
  position: relative;
  z-index: 3;
  margin: 0 0 16px;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  /* or 109% */

  color: #FFFFFF;
}
