@media screen and (max-width: 1024px) {
  .cover__mobile {
    margin-right: -48px;
    margin-left: -48px;
  }
}

@media screen and (max-width: 816px) {
  .cover__mobile {
      margin-right: -24px;
      margin-left: -24px;
  }
}
